/* =======================
        GLOBAL
======================= */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f0f0f;
    color: #fff;
}

/* Container flex : sidebar + content */
.container {
    display: flex;
    height: 100vh;
}

/* =======================
        SIDEBAR
======================= */
.sidebar {
    width: 220px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar .logoBase img {
    width: 100%;
    margin-bottom: 30px;
}

.sidebar .nav-links {
    list-style: none;
    padding: 0;
}

.sidebar .nav-links li {
    margin: 15px 0;
}

.sidebar .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.2s;
}

.sidebar .nav-links li a:hover, .sidebar .nav-links li.active a {
    background-color: #FF235E;
}

/* Main content */
.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* =======================
        SEARCHBAR
======================= */

.search-bar {
    position: fixed;
    top: 20px;
    left: 260px; /* sidebar width (220px) + margin */
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 8px 14px;
    border-radius: 25px;
    border: 3px solid #FF235E;
    background-color: #181818;

    z-index: 900;
}

/* Icon */
.search-icon {
    font-size: 1.2rem;
    pointer-events: none;
}

/* Input field */
#search-input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    width: 180px;
}

/* Placeholder */
#search-input::placeholder {
    color: #aaa;
}


#clear-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-55%);
    border: none;
    background: transparent;
    color: #FF235E;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

#clear-search:hover{
    color: #fff;
}


/* =======================
    SETTINGS BUTTON
======================= */

.settings-btn {
    position: fixed;
    top: 13px;
    right: 20px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #FF235E;
    z-index: 1000;
}


/* =======================
        SMARTPHONE
======================= */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    /* ---- Sidebar ---- */    

    .sidebar {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        padding: 10px;
    }

    .sidebar h2{
        display: none;
    }

    .sidebar .nav-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0;
    }

    .sidebar .nav-links li {
        margin: 0;
    }

    .sidebar .logoBase {
        display: none; /* Hide the logo on mobile */
    }

    /* ---- Searchbar ----*/ 

    .search-bar {
        left: 20px;   
        right: 20px;
        top: 70px;
        width: auto;
    }

    #search-input {
        width: 100%;
    }

}
