<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Wan’services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="hub">

<img src="/static/logo.png" alt="Wan logo" class="logo">

<div class="hub-content">
    <h1>
        Wan’<span>services</span>
    </h1>

    <p class="description">
        Wan’services est un hub de services locaux accessibles depuis n’importe quel
        appareil connecté à votre réseau.
    </p>

    <a href="/services" class="main-button">
        Accéder aux services
    </a>
</div>

</body>
</html>


