<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="movies">

<h1>🎥 Films</h1>

<div class="grid">
{% for movie in movies %}
    <a class="card" href="/play/movie/{{ movie.file }}">
        {% if movie.cover %}
            <img src="/video/movie/{{ movie.cover }}">
        {% else %}
            <div class="placeholder">🎬</div>
        {% endif %}
        <div class="title">{{ movie.title }}</div>
    </a>
{% endfor %}
</div>

<div class="back-container" >
    <a href="/services" class="back-button">⬅ Retour</a>
</div>

</body>
</html>


