<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1>▶ {{ name }}</h1>

<video controls width="100%">
{% if type == "movie" %}
    <source src="/video/movie/{{ name }}" type="video/mp4">
{% else %}
    <source src="/video/episode/{{ show }}/{{ season }}/{{ name }}" type="video/mp4">
{% endif %}
    Votre navigateur ne supporte pas la vidéo HTML5.
</video>

<br><br>

<a href="javascript:history.back() || '{{ url_for('movies') }}'" class="back-button">⬅ Back</a>

</body>
</html>

