<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Séries</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="series">

<h1>📺 Séries</h1>

<div class="grid">
{% for show in shows %}
    <a class="card" href="/series/{{ show.name }}">
        {% if show.cover %}
            <img src="{{ show.cover }}">
        {% else %}
            <div class="placeholder">📺</div>
        {% endif %}
        <div class="title">{{ show.name }}</div>
    </a>
{% endfor %}
</div>

<div class="back-container" >
    <a href="/services" class="back-button">⬅ Retour</a>
</div>

</body>
</html>


