{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/style.css">

<body class="series">

<h1><span>Series</span></h1>

<div class="grid">
{% for show in shows %}
    <a class="card" href="/series/{{ show.name }}">
        {% if show.cover %}
            <img class="poster" src="{{ show.cover }}">
        {% else %}
            <img  class="poster" src="/static/images/placeholder.png" alt="Placeholder">
        {% endif %}
        <div class="title">{{ show.name }}</div>
    </a>
{% endfor %}
</div>
</body>
{% endblock %}

