<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Services - Wan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="services">

<h1>Services <span>Wan</span></h1>

<div class="services-grid">
    <a class="service-card" href="/movies"><span>🎬 OurMovies</span></a>
    <a class="service-card" href="/series"><span>📺 OurSeries</span></a>
</div>

<div class="back-container" >
    <a href="/" class="back-button">⬅ Retour</a>
</div>
</body>
</html>
