<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Wan’services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="hub">

<img src="/static/images/logo.png" alt="Wan logo" class="logo">

<div class="hub-content">
    <h1>
        Wan <span><special style="color: #FF235E;">services</special></span>
    </h1>

    <p class="description">
        Wan services is a hub of local services accessible from any
        device connected to your network.
    </p>

    <a href="/movies" class="main-button">
        Access the services
    </a>
</div>

</body>
</html>


