{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/style.css">

<body class="movies">

<h1><span> Movies </span></h1>

<div class="grid">
{% for movie in movies %}
    <a class="card" href="/play/movie/{{ movie.file }}">
        {% if movie.cover %}
            <img class="poster" src="/video/movie/{{ movie.cover }}">
        {% else %}
            <img  class="poster" src="/static/images/placeholder.png" alt="Placeholder">
        {% endif %}
        <div class="title">{{ movie.title }}</div>
    </a>
{% endfor %}
</div>
</body>

{% endblock %}


