{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/style.css">

<body class="settings"></body>

<h1><span>Settings</span></h2>

<form method="POST" action="/settings/save">
    <label>
        Path to service data:
        <input
            type="text"
            name="media_path"
            value="{{ media_path }}"
            placeholder="/path/to/services-data"
            required
        >
    </label>

    {% if restart_required %}
    <div class="restart-warning">
        <p>
            ⚠️ Le chemin des médias a été modifié.<br>
            Un redémarrage du serveur est nécessaire pour appliquer les changements.
        </p>
    </div>
    {% else %}
        <br><br>
    {% endif %}
    
    <button type="submit">Save</button>

</form>

<hr>
<div class="settings-page-btn">
    <form method="POST" action="/settings/stop">
            <button type="submit">Stop the server</button>
    </form>
</div>
</body>

{% endblock %}
